<p> Click The Following Link To Reset Your Account Password.. 
    <a href="<%= url %>">Click To Verify Your Account</a>

    <br/>
    or Just Copy Paste the below text...
    <b><%= url %></b>
    <mark>This Link can be used only once and within one day..</mark>
  </p>