<style>
    img {
      float: right;
    }
</style>
<p><img src="elaachi.jpg" alt="Pineapple" style="width:100px;height:100px;margin-left:15px;">
    Elaachi
Your Hospitality Elaachi Hub</p>

<p style="text-align: justify;">Please verify your email address by clicking here or copying and pasting the verification link below into Google Chrome, Firefox or Safari:
https://elaachi.com
We can use this link only one at a time</p>

<b>Thank You!</b>
<b>The Elaachi Team</b>

